@font-face {
  font-family: "myfont";
  src: url("../MainWindow/assets/fonts/font.woff") format("woff");
}

* {
  user-select: none;
  font-family: myfont !important;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &.circle {
    background-image: url("./circle-bg.png");
    background-position-x: 0.8px;
    background-position-y: 0.6px;
    background-repeat: no-repeat;

    &::after {
      content: "拖拽上传";
      display: block;
      height: 64px;
      font-size: 12px;
      line-height: 64px;
      text-align: center;
      color: #fff;
      width: 64px;
      border-radius: 32px;
      background: #484b58;
      z-index: -1;
    }

    .file-drop {
      .file-drop-target {
        &.file-drop-dragging-over-frame {
          position: absolute;
          top: 11px;
          left: 11px;
          height: 64px;
          width: 64px;
          border-radius: 32px;
          background-color: rgba(0, 0, 0, 0.5);
          filter: blur(5px);
        }
      }
    }
  }

  &.oval {
    background-image: url("./oval-bg.png");
    background-position: center;
    background-repeat: no-repeat;

    &::after {
      font-size: 12px;
      content: "拖拽上传";
      line-height: 30px;
      text-align: center;
      color: #fff;
      display: block;
      height: 30px;
      width: 85px;
      border-radius: 15px;
      background: #484b58;
      z-index: -1;
    }
  }

  .file-drop {
    .file-drop-target {
      &.file-drop-dragging-over-frame {
        position: absolute;
        top: 11px;
        height: 30px;
        width: 85px;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.5);
        filter: blur(5px);
      }
    }
  }
}
