@import "../../variable";

.aside-wrapper {
  min-width: 224px;
  max-width: 224px;

  .title-bar {
    height: 40px;
    line-height: 40px;
    text-align: right;
    padding-right: 20px;
    color: #fff;
    opacity: .5;
  }

  .container {
    margin-bottom: 30px;

    .title {
      line-height: 20px;
      font-size: 14px;
      margin-bottom: 10px;
      padding-left: 16px;
    }

    .list {
      .item {
        height: 26px;
        line-height: 17px;
        color: #F2F6FC;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 15px;
        margin: 0 8px;

        .icon {
          font-size: 12px;
        }

        .link {
          border: none;
          background: transparent;
          padding-left: 10px;
          cursor: pointer;
          color: $color-font;

          &:focus {
            outline: none;
          }
        }


        &.active {
          background-color: rgba(0, 0, 0, .15);
          border-radius: 10px;
        }
      }
    }
  }
}
