{
  "extends": ["airbnb", "prettier"],
  "plugins": ["@typescript-eslint", "prettier"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": 0,
    "import/extensions": 0,
    "prettier/prettier": ["error"],
    "import/prefer-default-export": 0,
    "no-unused-vars": 0,
    "no-underscore-dangle": 0,
    "no-console": "off"
  },
  "settings": {
    "import/extensions": [".js", ".jsx"],
    "import/core-modules": ["electron"]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
