@import "../../variable";

.transform-wrapper {
  flex: 1;

  .toolbar {
    height: 30px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .toolbar-left {
    }

    .toolbar-right {
    }
  }

  .transfer-table {
    width: 100%;
    vertical-align: middle;

    .transfer-table__row {
      border-top: 1px solid $color-border;

      .transfer-table__row_item {
        padding: 10px 0;
      }

      .meta {
        display: flex;
        flex-direction: row;
      }

      &:last-child {
        border-bottom: 1px solid $color-border;
      }
    }
  }
}
