@import "../../variable";

.oss-input--wrapper {
  height: 26px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.15);
  padding: 0 9px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  align-items: center;

  .oss-input {
    color: rgba(255, 255, 255, 0.75);
    background: transparent;
    border: none;
    font-size: 14px;
    flex: 1;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-font;
      font-size: 14px;
    }
  }

  .icon {
    color: #fff;
    line-height: 26px;
    padding-right: 5px;
    font-size: 14px;
  }
}
