.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &.circle {
    background-image: url("renderer/assets/images/circle-bg.png");
    background-repeat: no-repeat;

    &::after {
      content: "拖拽上传";
      display: block;
      height: 67px;
      font-size: 12px;
      line-height: 67px;
      text-align: center;
      color: #fff;
      width: 67px;
      border-radius: 34px;
      background: #484b58;
      z-index: -1;
    }

    .file-drop {
      .file-drop-target {
        &.file-drop-dragging-over-frame {
          position: absolute;
          top: 0;
          left: 0;
          height: 67px;
          width: 67px;
          border-radius: 34px;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  &.oval {
    background-image: url("renderer/assets/images/oval-bg.png");
    background-position: center;
    background-repeat: no-repeat;

    &::after {
      font-size: 12px;
      content: "拖拽上传";
      line-height: 30px;
      text-align: center;
      color: #fff;
      display: block;
      height: 30px;
      width: 85px;
      border-radius: 15px;
      background: #484b58;
      z-index: -1;
    }
  }

  .file-drop {
    .file-drop-target {
      &.file-drop-dragging-over-frame {
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 85px;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
