@import "../../variable";

.setting-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;

  .section {
    padding: 0 16px;
    margin: 16px 0;

    .title {
      font-size: 14px;
      color: $color-font;
      padding-bottom: 20px;
    }

    .settings {
      .setting-item {
        font-size: 14px;
        color: #fff;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .setting-item-title {
          width: 270px;
        }
      }
    }
  }
}
