@import "../../variable";

.setting-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;

  .section {
    padding: 0 16px;
    margin: 16px 0;

    .title {
      font-size: 14px;
      color: $color-font;
      padding-bottom: 20px;
    }

    .settings {
      .setting-item {
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        padding-bottom: 16px;
        display: flex;
        flex-direction: row;

        .setting-item-title {
          width: 270px;
        }

        .setting-button {
          border-radius: 10px;
          height: 24px;
          margin: 0;
        }
      }
    }
  }
}
