.main-wrapper {
  overflow: auto;
  padding-top: 30px;

  .main-list {

    .main-item {
      color: #F2F6FC;
      text-indent: 10px;
      height: 25px;
      line-height: 25px;

      &:hover {
        color: red;
      }
    }
  }
}
