.main-wrapper {
  overflow: auto;
  padding-top: 30px;

  .main-list {

    .main-item {
      color: #F2F6FC;
      text-indent: 10px;
      height: 25px;
      line-height: 25px;
      border-bottom: 1px #fff solid;
      //todo: 显示省略号
      overflow: hidden;

      &:hover {
        color: red;
        background: #ffffff;
      }
    }
  }
}
