.services-wrapper {
  height: 100%;
  width: 100%;

  .apps-main {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;

    .main-left {
      padding: 0 5px;
      width: 300px;
      display: flex;
      flex-direction: column;

      .header {
        height: 50px;
      }

      .app-list {
        flex: 1;
        padding: 0;
        margin: 0;
        overflow: auto;
        list-style: none;

        .no-result {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        .item {
          height: 40px;
          margin: 5px;
          padding: 0 15px;
          color: #fff;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .button {
            height: 100%;
            width: 100%;
            background: none;
            border: none;
            outline: none;
            text-align: left;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #fff;
            cursor: pointer;

            .icon {
              height: 30px;
              width: 30px;
            }

            span {
              text-indent: 10px;
            }
          }

          &.active {
            background: rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            backdrop-filter: blur(5px);
          }
        }
      }
    }

    .main-right_form_container {
      flex: 1;

      .main-right_form_title {
        color: #fff;
        font-size: 25px;
        margin-bottom: 30px;
      }
    }
  }
}
