.services-wrapper {
  height: 100%;

  .apps-main {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;

    .main-left {
      padding: 0 5px;
      width: 300px;
      display: flex;
      flex-direction: column;

      .header {
        height: 50px;
      }

      .app-list {
        flex: 1;
        padding: 0;
        margin: 0;
        overflow: auto;
        list-style: none;

        .no-result {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        .item {
          height: 40px;
          margin: 5px;
          padding: 0 15px;
          color: #fff;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .button {
            height: 100%;
            width: 100%;
            background: none;
            border: none;
            outline: none;
            text-align: left;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #fff;

            .icon {
              height: 30px;
              width: 30px;
              padding-right: 15px;
            }

            .icon-button {
            }
          }

          &.active {
            background: rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            backdrop-filter: blur(5px);
          }
        }
      }
    }

    .main-right {
      flex: 1;

      .name {
        color: #fff;
        font-size: 25px;
      }

      .config-content {
        padding: 50px 0 0 15px;
        margin: 0;

        .config-item {
          height: 50px;
          display: flex;
          flex-direction: row;
          align-items: center;

          .title {
            width: 80px;
            color: #fff;
          }

          .input-item {
            height: 35px;
            width: 60%;
          }

          .select-item {
            width: 60%;
            background: rgba(0, 0, 0, 0.15);
            border: none;
            height: 35px;
            backdrop-filter: blur(5px);
            outline: none;
            color: #fff;
            -webkit-appearance: none;
            padding: 0 15px;
          }
        }
      }
    }
  }
}
