.apps-wrapper {
  height: 100%;

  .apps-main {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;

    .main-left {
      width: 300px;
      display: flex;
      flex-direction: column;

      .header {
        height: 50px;
      }
      .app-list {
        flex: 1;
        padding: 0;
        margin: 0;
        overflow: auto;
        .no-result {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        .item {
          height: 40px;
          margin: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-left: 15px;

          .icon {
            height: 30px;
            width: 30px;
            padding-right: 15px;
          }

          &.active {
            background: rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            backdrop-filter: blur(5px);
          }
        }
      }
    }
    .main-right {
      flex: 1;
      .name {
        color: #fff;
        font-size: 25px;
      }
      .config-list {
        padding: 50px 0 0 15px;
        margin: 0;
        .config-item {
          height: 40px;
          display: flex;
          flex-direction: row;
          .title {
            width: 80px;
          }
        }
      }
    }
  }
}
