@font-face {
  font-family: "webfont";
  font-display: swap;
  src: url("https://at.alicdn.com/t/webfont_zfjvmmzcym.ttf") format("truetype");
}

* {
  user-select: none;
  font-family: "webfont";
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}

.ant-btn {
  padding: 0 14px;
  background: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  color: #fff;
  font-size: 12px;

  &:active {
    padding: 0 14px;
    border-color: rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
  }

  &:focus {
    padding: 0 14px;
    background: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.15);
    color: #fff;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.35);
  }

  &[disabled] {
    background: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.15);

    &:hover {
      background: rgba(255, 255, 255, 0.15);
      border-color: rgba(255, 255, 255, 0.15);
      color: rgba(255, 255, 255, 0.15);
    }
  }

  &-dangerous {
    color: rgba(207, 19, 34, 1);

    &:hover {
      color: rgba(130, 0, 20, 0.35);
    }
  }
}

.ant-input-affix-wrapper {
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.15);
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: rgba(255, 255, 255, 1);
  outline: none;
  box-shadow: unset;

  .ant-input {
    background: transparent;
    color: rgba(255, 255, 255, 1);
  }

  &:hover {
    border-color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
  }
}

.ant-input {
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.15);
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: rgba(255, 255, 255, 1);

  &-password {
    &:hover {
      border-color: rgba(255, 255, 255, 0.3);
    }

    &:focus {
      border-color: rgba(255, 255, 255, 0.3);
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
    }
  }

  &:hover {
    border-color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
  }

  &[disabled] {
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);

    &:hover {
      border-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.ant-input-wrapper {
  .ant-input-group-addon {
    background: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.3);
    border-radius: 0 5px 5px 0;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
      border-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.ant-select {
  .ant-select-selector {
    border-radius: 5px !important;
    background: rgba(0, 0, 0, 0.2) !important;
    border-color: rgba(0, 0, 0, 0.2) !important;
    color: #fff;

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2) !important;
    }
  }
}

.ant-select-dropdown {
  border-radius: 5px !important;
  background: rgba(255, 255, 255, 0.6);
  padding: 7px 0;

  .ant-select-item-option {
    border-radius: 10px;
    margin: 3px;
    color: #fff;

    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }

    &-active {
      background: rgba(0, 0, 0, 0.3);
    }

    &-selected {
      background: rgba(0, 0, 0, 0.3);

      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.ant-breadcrumb {
  .ant-breadcrumb-link {
    color: #fff;
  }

  .ant-breadcrumb-separator {
    color: #fff;
  }
}

.ant-form {
  .ant-form-item {
    .ant-form-item-label {
      label {
        color: #fff;
      }
    }
  }
}

.ant-switch {
  background: rgba(0, 0, 0, 0.3);

  &.ant-switch-checked {
    background: rgba(255, 255, 255, 0.1);
  }
}

.ant-radio-group {
  .ant-radio-wrapper {
    .ant-radio {
      .ant-radio-inner {
        background: transparent;
        border-color: rgba(255, 255, 255, 1);

        &::after {
          background: transparent;
        }
      }

      &.ant-radio-checked {
        .ant-radio-inner {
          border-color: rgba(255, 255, 255, 1);

          &::after {
            background: rgba(255, 255, 255, 1);
          }
        }
      }
    }

    span {
      color: #fff;
    }
  }
}

.ant-spin-nested-loading {
  .ant-spin-container {
    &::after {
      background: transparent;
    }
  }

  .ant-spin-blur {
    opacity: 1;

    &::after {
      opacity: 1;
    }
  }

  div {
    .ant-spin {
      max-height: none;
    }
  }
}

.ant-table-wrapper {
  background: transparent;

  .ant-table {
    background: transparent;

    .ant-table-thead {
      .ant-table-cell {
        box-sizing: border-box;
        background: transparent;
        border-color: rgba(255, 255, 255, 0.2);
        color: #fff;
        border-radius: 0;

        .ant-table-column-sorters {
          .ant-table-column-sorter {
            .ant-table-column-sorter-inner {
              .active {
                color: rgba(0, 0, 0, 0.5);
              }
            }
          }
        }
      }
    }

    .ant-table-tbody {
      .ant-table-row {
        .ant-table-cell {
          color: #fff;
          border-color: rgba(255, 255, 255, 0.1);
          box-sizing: border-box;

          &.ant-table-column-sort {
            background: transparent;
          }
        }

        &:hover {
          .ant-table-cell {
            background: rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}

.ant-form-item-has-error {
  .ant-input {
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.1);

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .ant-input-password {
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.1);

    .ant-input {
      background: transparent;

      &:hover {
        background: transparent;
      }
    }

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}
