@import "variable";

.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  color: $color-font;
  font-size: 14px;

  .app-button {
    -webkit-app-region: no-drag;
    position: absolute;
    right: 10px;
    z-index: 100;

    .icon {
      cursor: pointer;
      margin: 10px 7px;
    }
  }

  .drag-area {
    position: absolute;
    height: 40px;
    width: 100vw;
    -webkit-app-region: drag;
  }

  .the-sidebar-wrapper {
    overflow: auto;
    min-width: 225px;
    max-width: 225px;
  }

  .main-wrapper {
    overflow: hidden;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 40px;
    @include main-wrapper-mixin;
    background: url("./assets/images/global.png") no-repeat;
  }
}

.up-enter {
  @include main-wrapper-mixin;
  top: 100vh;
}

.up-enter-active {
  @include main-wrapper-mixin;
  top: 0;
  transition: top 0.3s ease-in-out;
}

.up-exit {
  @include main-wrapper-mixin;
  top: 0;
}

.up-exit-active {
  @include main-wrapper-mixin;
  top: -100vh;
  transition: top 0.3s ease-in-out;
}

.down-enter {
  @include main-wrapper-mixin;
  top: -100vh;
}

.down-enter-active {
  @include main-wrapper-mixin;
  top: 0;
  transition: top 0.3s ease-in-out;
}

.down-exit {
  @include main-wrapper-mixin;
  top: 0;
}

.down-exit-active {
  @include main-wrapper-mixin;
  top: 100vh;
  transition: top 0.3s ease-in-out;
}

.left-enter {
  @include main-wrapper-mixin;
  left: -100vw;
}

.left-enter-active {
  @include main-wrapper-mixin;
  left: 0;
  transition: left 0.3s ease-in-out;
}

.left-exit {
  @include main-wrapper-mixin;
  left: 0;
}

.left-exit-active {
  @include main-wrapper-mixin;
  left: -100vw;
  transition: left 0.3s ease-in-out;
}

.right-enter {
  @include main-wrapper-mixin;
  left: 100vw;
}

.right-enter-active {
  @include main-wrapper-mixin;
  left: 0;
  transition: left 0.3s ease-in-out;
}

.right-exit {
  @include main-wrapper-mixin;
  left: 0;
}

.right-exit-active {
  @include main-wrapper-mixin;
  left: 100vw;
  transition: left 0.3s ease-in-out;
}
