* {
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// todo: 字体

/* 滚动条 */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}
