@font-face {
  font-family: "webfont";
  font-display: swap;
  src: url("http://at.alicdn.com/t/webfont_lwqbkk5e9g.eot");
  src: url("http://at.alicdn.com/t/webfont_lwqbkk5e9g.eot?#iefix")
      format("embedded-opentype"),
    url("http://at.alicdn.com/t/webfont_lwqbkk5e9g.woff2") format("woff2"),
    url("http://at.alicdn.com/t/webfont_lwqbkk5e9g.woff") format("woff"),
    url("http://at.alicdn.com/t/webfont_lwqbkk5e9g.ttf") format("truetype"),
    url("http://at.alicdn.com/t/webfont_lwqbkk5e9g.svg#Alibaba-PuHuiTi-Regular")
      format("svg");
}

* {
  user-select: none;
  font-family: "webfont", serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* 滚动条 */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}
