.main-wrapper {
  overflow: auto;
  padding-top: 30px;

  .toolbar-wrapper {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    padding: 5px 0;
    display: flex;
    flex-direction: row;

    .fa-button {
      color: #fff;
      font-size: 15px;
      margin: 0 5px;
    }
  }

  .main-table {
    width: 100%;

    .main-table__row {
      color: #F2F6FC;
      height: 40px;
      font-size: 12px;
      line-height: 17px;

      .main-table__row_cell {
        text-align: left;
        vertical-align: middle;

        .icon {
          position: relative;
          top: 7px;
        }

        &.index {
          width: 50px;
        }

        &.title {
          max-width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &:hover {
        background: rgba(255, 255, 255, .15);
      }
    }

  }

  .main-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .main-grid__cell {
      height: 80px;
      width: 80px;
      margin: 5px;
      padding: 5px;

      display: flex;
      flex-direction: column;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .icon {
        margin: 0 auto;
        height: 50px;
        width: 50px;
      }

      span {
        font-size: 12px;
        line-height: 17px;
        color: #fff;
        text-align: center;
        padding-top: 10px;
      }
    }
  }
}
