@import "../../variable";

.bucket-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .buttons-wrapper {
    border-bottom: 1px solid $color-border;
    padding: 8px 12px;
  }

  .toolbar-wrapper {
    padding: 8px 12px;
    box-sizing: border-box;
    border-bottom: 1px solid $color-border;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;

    .toolbar-icon {
    }

    .toolbar-left {
      display: flex;
      align-items: center;
    }

    .toolbar-right {
      display: flex;
      align-items: center;

      .toolbar-right__search {
        margin: 0 5px;
      }
    }
  }

  .content-wrapper {
    flex: 1;
    overflow: auto;
    position: relative;

    .file-drop {
      .file-drop-target {
        &.file-drop-dragging-over-frame {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.5);
          backdrop-filter: blur(5px);
        }

        &.file-drop-dragging-over-target {
          &::after {
            z-index: 9999;
            content: "文件将储存到当前目录下";
            position: absolute;
            top: 10px;
            left: 10px;
            bottom: 10px;
            right: 10px;
            border: 2px #00b3ff dashed;
            border-radius: 10px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .main-table-wrapper {
      height: 100%;
    }

    .main-grid {
      height: 100%;

      .main-grid__cell {
        float: left;
        height: 80px;
        width: 80px;
        margin: 5px;
        padding: 5px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        border: 1px transparent solid;
        align-items: center;

        &:hover {
          border: 1px rgba(0, 0, 0, 0.2) solid;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 3px;
        }

        .preview-image {
          height: 50px;
          width: 50px;
          object-fit: cover;
          overflow: hidden;
        }

        span {
          display: inline-block;
          font-size: 12px;
          line-height: 17px;
          width: 100%;
          color: #fff;
          text-align: center;
          padding-top: 3px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .no-files {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        font-size: 24px;
        color: #ffffff;
      }

      .sub-title {
        margin-top: 10px;
        font-size: 15px;
      }
    }
  }

  .footer {
    height: 40px;
    padding: 0 5px;
    border-top: 1px solid $color-border;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;

    .footer-left {
      .current-select {
        color: rgba(255, 255, 255, 1);
      }

      .current-total {
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}

.selection {
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.selected {
  border: 2px rgba(0, 0, 0, 0.2) solid;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
