body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}

.up-enter {
  top: 100vh;
  opacity: 0;
}

.up-enter-active {
  top: 0;
  opacity: 1;
  transition:
    top 0.16s,
    opacity 0.16s ease-in-out;
}

.up-exit {
  top: 0;
  opacity: 1;
}

.up-exit-active {
  top: -100vh;
  opacity: 0;
  transition:
    top 0.16s,
    opacity 0.16s ease-in-out;
}

.down-enter {
  top: -100vh;
  opacity: 0;
}

.down-enter-active {
  top: 0;
  opacity: 1;
  transition:
    top 0.16s,
    opacity 0.16s ease-in-out;
}

.down-exit {
  top: 0;
  opacity: 1;
}

.down-exit-active {
  top: 100vh;
  opacity: 0;
  transition:
    top 0.16s,
    opacity 0.16s ease-in-out;
}
