.oss-button {
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .35);
  margin: 5px;
  cursor: pointer;
  font-size: 12px;
  height: 26px;
  padding: 0 15px;
  color: #ffffff;

  &.disabled {
    background-color: rgba(255, 255, 255, .15);
    cursor: not-allowed;
    color: rgba(255, 255, 255, .35)
  }

  &:focus {
    outline: none;
  }
}
