.oss-button {
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
  box-sizing: content-box;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 5px;
  font-size: 12px;
  height: 26px;
  padding: 0 13px;
  backdrop-filter: blur(5px);

  .oss-button__inner_icon {
  }
  .oss-button__inner_text {
  }

  &.disabled {
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.35);
  }

  &:focus {
    outline: none;
  }
}
