@import "../../variable";

.the-sidebar-wrapper {
  .title-bar {
    height: 40px;
    line-height: 40px;
    text-align: right;
    padding-right: 20px;
    color: #fff;
    opacity: 0.5;
  }

  .container {
    margin-bottom: 30px;

    .title {
      height: 20px;
      margin-bottom: 10px;
      padding-left: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .text {
        line-height: 20px;
        font-size: 14px;
      }

      .loading {
        margin-left: 10px;
        height: className= "loading" px;
        color: #fff;
        display: flex;
        align-items: center;
      }
    }

    .sidebar-list {
      padding: 0;
      margin: 0;

      .item {
        height: 26px;
        color: $color-font;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 15px;
        margin: 0 8px;
        cursor: pointer;

        .icon {
          display: inline-block;
          width: 12px;
          height: 12px;
        }

        .name {
          padding-left: 10px;
        }

        &.disabled {
          color: rgba(255, 255, 255, 1);
          opacity: 0.3;
          cursor: not-allowed;
        }

        &.active {
          background-color: rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          color: white;
        }
      }
    }
  }
}
