@import "../../variable";

.the-sidebar-wrapper {
  .title-bar {
    height: 40px;
    line-height: 40px;
    text-align: right;
    padding-right: 20px;
    color: #fff;
    opacity: 0.5;
  }

  .container {
    margin-bottom: 30px;

    .title {
      line-height: 20px;
      font-size: 14px;
      margin-bottom: 10px;
      padding-left: 16px;

      .loading {
        margin: 0 10px;
        height: 12px;
        width: 12px;
      }
    }

    .list {
      padding: 0;
      margin: 0;

      .item {
        height: 26px;
        line-height: 17px;
        color: #f2f6fc;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 15px;
        margin: 0 8px;

        .icon {
          font-size: 12px;
        }

        .link {
          border: none;
          background: transparent;
          padding-left: 10px;
          cursor: pointer;
          color: $color-font;

          &:focus {
            outline: none;
          }
        }

        &.active {
          background-color: rgba(0, 0, 0, 0.15);
          border-radius: 10px;
        }
      }
    }
  }
}
