.App {
  height: 100vh;
  background-image: linear-gradient(#895B76, #38394F);
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .aside-wrapper {
    background-image: linear-gradient(#895B76, #454A58);
  }

  .main-wrapper {
    flex: 1;
  }
}
