@import "variable";

.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  color: $color-font;

  .aside-wrapper {
    overflow: auto;
  }

  .main-wrapper {
    flex: 1;
    padding-top: 40px;
  }
}
