@import "./reset.css";

* {
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// todo: 字体

/* 滚动条 */
::-webkit-scrollbar {
}

/* 滚动槽 */
::-webkit-scrollbar-track {
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
}
