$transition-duration: 160ms;
$transition-delay: ease;
html,
body {
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: Alibaba-PuHuiTi-Bold;
  src: url("./assets/fonts/Alibaba-PuHuiTi-Bold.ttf");
}

@font-face {
  font-family: Alibaba-PuHuiTi-Heavy;
  src: url("./assets/fonts/Alibaba-PuHuiTi-Heavy.ttf");
}

@font-face {
  font-family: Alibaba-PuHuiTi-Light;
  src: url("./assets/fonts/Alibaba-PuHuiTi-Light.ttf");
}

@font-face {
  font-family: Alibaba-PuHuiTi-Medium;
  src: url("./assets/fonts/Alibaba-PuHuiTi-Medium.ttf");
}

@font-face {
  font-family: Alibaba-PuHuiTi-Regular;
  src: url("./assets/fonts/Alibaba-PuHuiTi-Regular.ttf");
}

@mixin main-wrapper-mixin {
  position: absolute;
  left: 225px;
  right: 0;
}

.up-enter {
  @include main-wrapper-mixin;
  top: 100vh;
  opacity: 0;
}

.up-enter-active {
  top: 0;
  opacity: 1;
  transition: top $transition-duration $transition-delay,
    opacity $transition-duration $transition-delay;
}

.up-exit {
  @include main-wrapper-mixin;
  top: 0;
  opacity: 1;
}

.up-exit-active {
  top: -100vh;
  opacity: 0;
  transition: top $transition-duration $transition-delay,
    opacity $transition-duration $transition-delay;
}

.down-enter {
  @include main-wrapper-mixin;
  top: -100vh;
  opacity: 0;
}

.down-enter-active {
  top: 0;
  opacity: 1;
  transition: top $transition-duration $transition-delay,
    opacity $transition-duration $transition-delay;
}

.down-exit {
  @include main-wrapper-mixin;
  top: 0;
  opacity: 1;
}

.down-exit-active {
  top: 100vh;
  opacity: 0;
  transition: top $transition-duration $transition-delay,
    opacity $transition-duration $transition-delay;
}

.app-region {
  -webkit-app-region: drag;
}
